<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Toutes les ères</title>
</head>
<body>

<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Nom</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="era : ${eras}">
    <td th:text="${extension.id}"></td>
    <td th:text="${extension.eraname}"></td>
    <td><a th:href="@{/eras/{id}(id=${era.id})}"><button>Résumé</button></a></td>
  </tr>
  </tbody>
</table>

<a th:href="@{/}"><button>Accueil</button></a>
</body>
</html>