<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Toutes les extensions</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Nom</th>
        <th>Date</th>
        <th>Ere</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="extension : ${extensions}">
        <td th:text="${extension.id}"></td>
        <td th:text="${extension.extname}"></td>
        <td th:text="${extension.date}"></td>
        <td th:text="${extension.era}"></td>
        <td><a th:href="@{/extensions/{id}(id=${extension.id})}"><button>Résumé</button></a></td>
    </tr>
    </tbody>
</table>

<a th:href="@{/}"><button>Accueil</button></a>
</body>
</html>