<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Projet_JEE CIATARAS Alexandre</title>
</head>
<body>

<h2>:^) (ce projet ne marche probablement pas)</h2>

<a th:href="@{/cards/search}"><button>Rechercher des cartes</button></a>
<a th:href="@{/cards}"><button>Voir les cartes</button></a>
<a th:href="@{/cards/newOrUpdate}"><button>Créer/Modifier une carte</button></a>
<br>
<a th:href="@{/extensions}"><button>Voir les extensions</button></a>
<a th:href="@{/extensions/newExtension}"><button>Créer une extension</button></a>
<br>
<a th:href="@{/eras}"><button>Voir les ères</button></a>
<a th:href="@{/eras/newEra}"><button>Créer une ère</button></a>

</body>
</html>
